.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
        color: red;
    }

    .icon{
        font-size: 50px;
        &.face{
        color: 	#1877F2;

        }
        &.duo{
            color: #58cc02;
        }

    }
}


