.container {
  width: 100%;
  height: 50px;
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: black;
  padding: 0px 25px;
}

.nav_link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}


