/* .text{
    color: red;
    font-size: 50px;
    
} */

/* .title{
    font-size: 25px;
} */

/* .board {
  width: 500px;
  height: 300px;
}

.btn {
  color: white;
} */

/* .drawer {
  width: 100%;
  top: 0;
  position: fixed;
  transform: translate(-100%, 0%);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.348);
  transition: 0.5s;
}

.drawer.show {
  transform: translate(0%, 0%);
}

.item {
  width: 300px;
  height: 100%;
  background-color: beige;
} */

.cub {
  width: 200px;
  height: 200px;
  left: -500px;
  position: absolute;
  background-color: blue;
  transition: 0.8s;
}

.cub.show {
  left: 50%;
}
